<div class="container">
<div class="readme row">
    

<span class="infoLine">Fontname: <b>Amatic</b></span> <span>Weights: <b>Regular</b> , <b>Bold</b></span>
<hr>
<p class="amatic spec1"><strong>Aa Bb Cc Dd Ee Ff Gg Hh Ii Jj Kk Mm Nn Oo Pp</strong></p>
<p class="amatic spec1">Badhesion Rumbarge Werken 67890 Fleuron Stumptown</p>
<p class="amatic spec2">Badhesion Rumbarge Werken 67890 Fleuron Stumptown</p>
<p class="amatic spec3">Badhesion Rumbarge Werken 67890 Fleuron Stumptown</p>




</div>
    </div>
