<div class="row-fluid">
<div class="span10 offset1">
    <h4>cloud-fonts.com - testlab for webfont stuff</h4></div></div>
<div class="row-fluid">
<div class="span10 offset1" style="margin-top:21px">
<p><i class="icon-ok-circle"> </i> <a href="garamond.html">Skia & ttfautohint test - hinting composite glyph render issues.</a></p>
<p><i class="icon-ok-circle"> </i> <a href="http://cloud-fonts.com/testing/">fontdraggr-based test pages.</a></p>
<p><i class="icon-ok-circle"> </i> <a href="http://cloud-fonts.com/tests/">Random webfont mini-tests</a></p>

</div>
</div>