<div class="row-fluid">
<div class"span8 offset2">
<p style="font-family:serif;font-size:1.2em;">Possible bug in Chrome on OSX when rendering fonts that have been auto instructed with ttfautohint and contain composite glyphs that are used in OpenType GSUB substitutions.  </p>
<p style="font-family:serif;font-size:1.2em;">Top is real text rendered with webfont. Lower is screenshot of same text from Chrome 26 on OSX 10.8.3</p>
<p style="font-family:serif;font-size:1.2em;">View this page in Firefox to see what the difference is!</p>
<hr>
<p style="font-family:EBG08-Re;font-size:4em;line-height:1em">Office minor fought fierce fjordland flowers. Kings Muffbang, Clifftan, and Woffkreme were deftly defiled.  </p>
<p style="font-family:EBG08-Re;font-size:3em;line-height:1em">Office minor fought fierce fjordland flowers. Kings Muffbang, Clifftan, and Woffkreme were deftly defiled.  </p>
<p style="font-family:EBG08-Re;font-size:2em;line-height:1em">Office minor fought fierce fjordland flowers. Kings Muffbang, Clifftan, and Woffkreme were deftly defiled.  </p>
<hr>
<p><img src="assets/images/eb-garamond-osx-chrome.png"</p>
</div>
</div>