<div class="container">
    
<div class="pull-right row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
         

<!-- Button trigger modal -->
<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal1">
About
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">cloud-fonts</h4>
            </div>
            <div class="modal-body">
                <p>Cloud-fonts.com is the place to use the latest versions of Newtypography webfonts; the one-offs, the upgrades, and the </p>
<p>Come here for the versions of newtypography webfonts that the 'big-names' servers,' Adobe and Monotype, don't have, and the versions that Google have not yet upgraded to.</p>
<p>Using cloud-fonts.com is completely free. No accounts. No sign-up. Just use the fonts.</p>

                <p>For more info on Newtypography, go to <a href="http://code.newtypography.co.uk">http://code.newtypography.co.uk</a></p></div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Button trigger modal -->
<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">
    Donate
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Donate to cloud-fonts</h4>
            </div>
            <div class="modal-body">
            <p>If you feel generous and want to donate to the running of cloud-fonts, you can do so here.</p>
            <p>Remember, more money == faster server.</p>

            </div>
            <div class="modal-footer">
                
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
                    <input type="hidden" name="cmd" value="_s-xclick">
                        <input type="hidden" name="hosted_button_id" value="KFG48LUYHBD6W">
                            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                </form>

            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



        </div>
</div>
    </div>
