<div class="container">
    
<div class="pull-right row">

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            
         

<!-- Button trigger modal -->
<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal1">
About
</button>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">cloud-fonts</h4>
            </div>
            <div class="modal-body">
<p>Cloud-fonts.com is the place to use the latest versions of Newtypography webfonts.</p>
                <p>For more info on Newtypography, go to <a href="http://code.newtypography.co.uk">http://code.newtypography.co.uk</a></p></div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Button trigger modal -->
<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal2">
    Donate
</button>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Donate to cloud-fonts</h4>
            </div>
            <div class="modal-body">
                <p>Use of the fonts on cloud-fonts.com is completely free.</p>
            <p>If you feel generous and want to donate to the running of cloud-fonts, you can do so here.</p></div>
            <div class="modal-footer">
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



        </div>
</div>
    </div>
