<div class="container">
<div class="readme row">
    

<p>To use fonts from cloud-fonts.com, simply add the line </p>
<pre>&#60;link href="http://www.cloud-fonts.com/format.php?font=FONTNAME" rel="stylesheet" type="text/css"&#62;</pre>
<p>within the &#60;head&#62; &#60;/head&#62; of your webpage</p>
<p>Text on your web pages can then be set with the font by using the <code>font-family</code> tag, like this;</p>
<p><pre>font-family: 'FONTNAME';</pre></p>
<p>If a bold version of the font is supported, just use the css rules;</p>
<p><pre>font-weight:bold;</pre></p>
<p>or, you can use the css rule;</p>
<p><pre>font-weight:700;</pre></p>
<p>or, the html tags;</p>
<p><pre></pre></p>
<p>to set text with the bold version of that font.</p>






</div>
    </div>
